<!DOCTYPE html>
<html>
<head>
    <title>Page Links</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<h1>Pages:</h1>
<ul>
    <form action="/goToNumbersPage">
        <button>Numbers</button>
    </form>
    <form action="/goToSumNumbersPage">
        <button class="button">Sum-Numbers</button>
    </form>
    <form action="/goToWordsPage">
        <button class="button">Words</button>
    </form>
</ul>
</body>
</html>